<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Dashr - Login</title>
    <style>
        .header{ position: fixed; top: 0; width: 100%; margin: 0; background-color:#80B0C0; text-align: center; padding: 1% 0; z-index: 10; }
        .header h5{ font-size: 24px !important; }
        .header a{ vertical-align: middle; }
            .header a:link{ color: darkblue; }
        .container{ margin-top: 6% !important; }
            .container h4{ margin-bottom: 2%;  }
    </style>
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-sm-2">
                <h5>Dashr</h5>
            </div>
            <div class="col-sm-1">
                <a href="/dashboard/">Dashboard</a>
            </div>
            <div class="col-sm-1">
                <a href="/users/show/{{ request.session.userid }}/">Profile</a>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2"><a href="/login/">Sign In</a></div><!-- fix this route -->
        </div>
    </div>
    <div class="container">
        <h4>Login</h4>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
        <a href="/register/">Don't have an account?  Sign up now!</a>
    </div>
</body>
</html>